header {
  background-color: darkgray;
}

nav {
  display: flex;
  padding: 15px;
}

li {
  display: inline;
  padding: 15px;
}

img {
  padding: 15px;


}

div img {
  margin-left: 15px;
  margin-right: 15px;
}
section {
  display: flex;
}
button {
  transition: 350ms;
}

button:hover {
  background-color: gold;
}

footer {
  background-color: darkgray;
  height: 100px;
}